PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=hrd_job_portal

# Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email_anda@gmail.com
SMTP_PASS=password_aplikasi_atau_smtp_anda
EMAIL_FROM=HRD Perusahaan <hrd@perusahaan.com>
